.contenedor-portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contenedor-portada::before {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.contenedor-portada h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 400%;
  font-weight: 700; }

.contenedor-historia {
  margin: 30px auto !important;
  width: 90%;
  min-height: 50vh;
  padding: 10px;
  background-color: rgba(255, 235, 235, 0.8);
  border-radius: 8px;
  color: #000000; }
  .contenedor-historia h2 {
    padding: 10px;
    font-weight: 500;
    position: relative; }
  .contenedor-historia h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 55px;
    left: 25px; }
  .contenedor-historia p {
    padding: 0 10px; }

#miembros {
  padding-top: 20px;
  background-color: rgba(255, 235, 235, 0.8);
  border-radius: 8px;
  color: #000000;
  width: 90%;
  margin: 30px auto !important; }
  #miembros h2 {
    padding-left: 20px;
    padding-bottom: 10px;
    color: #000000;
    position: relative; }
  #miembros h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 45px;
    left: 60px; }

.contenedor-miembros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  padding: 10px; }
  @media (max-width: 768px) {
    .contenedor-miembros {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 25px; } }
  .contenedor-miembros .card {
    background-color: rgba(233, 128, 128, 0.8);
    color: #ffffff;
    max-width: 510px !important;
    margin: 10px; }
  .contenedor-miembros img {
    padding: 10px; }

p {
  font-size: 14px; }

.contenedor-miembrosAnt {
  padding: 32px; }
  .contenedor-miembrosAnt ul li {
    padding: 5px 8px; }
  .contenedor-miembrosAnt li a {
    color: #000000; }
  .contenedor-miembrosAnt .card {
    background-color: rgba(233, 128, 128, 0.8);
    color: #ffffff;
    max-width: 510px !important;
    margin: 10px; }
    .contenedor-miembrosAnt .card .card-header {
      background-color: rgba(233, 128, 128, 0.8);
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      padding: 10px !important; }
    @media (max-width: 768px) {
      .contenedor-miembrosAnt .card .cardInt {
        padding: 5px !important; } }

#discos .contenedor-discos {
  width: 90%;
  background-color: rgba(255, 235, 235, 0.8);
  border-radius: 8px;
  margin: 20px auto; }

#discos h2 {
  padding: 20px 0 10px 20px;
  font-weight: 500;
  color: #000000;
  position: relative; }

#discos h2::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 65px;
  left: 65px; }

#discos div .reproductor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-grid-columns: ()[2];
  grid-template-columns: repeat(2);
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 40px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 1 / 6; }

#discos .clase-grid {
  display: -ms-grid;
  display: grid;
  list-style: none;
  padding: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: ()[2];
  grid-template-rows: repeat(2);
  row-gap: 30px;
  text-align: center;
  /*.iconoplay {
            display: none;
        }
        i {
            display: block;
            z-index: 1; 
            color: $negro-pleno;
            font-weight: 600;
            width: 100%;
            height: 100%;
        }
         .tapaDisco:hover i{
            display: block;
           
        }
        
        
        */ }
  @media (max-width: 768px) {
    #discos .clase-grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: ()[5];
      grid-template-rows: repeat(5); } }
  #discos .clase-grid .tapaDisco {
    max-width: 100%;
    text-align: center;
    position: relative; }
    #discos .clase-grid .tapaDisco a img {
      width: 100%; }
  #discos .clase-grid .tapaDisco:hover a img {
    opacity: 0.5;
    background-image: url(//imagenes/play-circle-solid-01.png);
    width: 100%;
    z-index: 2; }

#galeria .contenedor-galeria {
  width: 90%;
  background-color: rgba(255, 235, 235, 0.8);
  margin: auto;
  border-radius: 8px; }
  #galeria .contenedor-galeria .bd-example {
    padding: 30px;
    padding-top: 0;
    width: 85%;
    height: 80%;
    margin: auto; }
  #galeria .contenedor-galeria h2 {
    color: #000000;
    padding: 20px 0 0 20px; }
  #galeria .contenedor-galeria h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #000000;
    margin: 10px 38px; }

#contacto {
  margin: 25px 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(87, 87, 87, 0.8); }
  #contacto .contenedor-contacto {
    color: #ffffff;
    width: 50%;
    background-color: rgba(233, 128, 128, 0.8);
    margin: auto;
    border-radius: 8px; }
    #contacto .contenedor-contacto form {
      padding: 10px 30px;
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: auto;
      /*.parteUno {
        line-height: 130%;
       margin: 0 30px 0 0;
        div {
           padding: 15px;
            label {
                padding-right: 5px;
                font-size: 18px;
            }
        }
        }*/
      /*.parteDos {
       
        }*/ }
      #contacto .contenedor-contacto form .parteUno {
        line-height: 130%;
        margin: 10px 30px 0 0; }
        #contacto .contenedor-contacto form .parteUno div {
          padding: 15px; }
          #contacto .contenedor-contacto form .parteUno div label {
            padding-right: 5px;
            font-size: 18px; }
        @media (max-width: 768px) {
          #contacto .contenedor-contacto form .parteUno .selectPais {
            padding: 15px 0; } }
        @media (max-width: 768px) {
          #contacto .contenedor-contacto form .parteUno {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 15px; } }
      #contacto .contenedor-contacto form .parteDos {
        justify-items: flex-end;
        padding: 15px; }
        #contacto .contenedor-contacto form .parteDos label a {
          color: #000000; }
        #contacto .contenedor-contacto form .parteDos textarea {
          resize: none; }
        @media (max-width: 768px) {
          #contacto .contenedor-contacto form .parteDos #mensaje {
            max-width: 220px; } }
        @media (max-width: 768px) {
          #contacto .contenedor-contacto form .parteDos #mensaje .terminos {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 95%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; } }
      @media (max-width: 768px) {
        #contacto .contenedor-contacto form {
          display: inline;
          padding: 0; } }
    @media (max-width: 768px) {
      #contacto .contenedor-contacto {
        width: 80%; } }
  #contacto h2 {
    padding: 10px 0 0 15px;
    color: #ffffff;
    font-weight: 500; }
  #contacto h2::after {
    content: '';
    display: block;
    width: 65px;
    height: 2px;
    background-color: #ffffff;
    margin: 10px 45px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 50px;
  background: rgba(255, 235, 235, 0.8);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px; }
  footer a {
    padding: 0 10px; }

body {
  background-image: url("../imagenes/bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1; }

/*.flecha-flotante i {
   float: right;
   margin-right: 100px;
   font-size: 150%;
   background: rgba(0, 0, 0, 1);
}*/
