#miembros {
    padding-top: 20px;
    background-color: rgba($color:$blanco, $alpha: 0.8);
    border-radius: $br-contenedor;
    color: $negro-pleno;
    width: 90%;
    margin: 30px auto !important;
    
    h2 {
        padding-left: 20px ;
        padding-bottom: 10px;
        color: $negro-pleno;
        position: relative;
    }
    
        h2::after {
            content: '';
            display: block;
            width: 100px;
            height: 2px;
            background-color: $negro-pleno;
            position: absolute;
            top: 45px;
            left: 60px;
            }
    
    
}
.contenedor-miembros {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        padding-left: 25px ;
        
    }
    .card {
        background-color: rgba(233, 128, 128, 0.8);
        color: $blanco-pleno;
        max-width: 510px !important;
        margin: 10px;
    }
    img {
        padding: 10px;
    }
    
    
    }

    p {
        font-size: 14px;
    }


.contenedor-miembrosAnt {
    padding: 32px;

    ul li {
        padding: 5px 8px;
    }

    li a {
        color: $negro-pleno;
    }

    .card {
        background-color: rgba(233, 128, 128, 0.8);
        color: $blanco-pleno;
        max-width: 510px !important;
        margin: 10px;
           
    .card-header {
        background-color: rgba(233, 128, 128, 0.8);
        color: $blanco-pleno;
        font-size: 20px;
        font-weight: 500;
        padding: 10px !important;
    }

    .cardInt {
        @media (max-width:768px){
            padding: 5px !important;
        }

    }
    }




}